NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_WRITE_TOKEN=

RESEND_API_KEY=
RESEND_FROM_EMAIL="B.I.G Conference <noreply@big.stustle.com>"

GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_TAB_NAME=Sheet1
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
